# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with `YOUR IMPORT TEXT HERE`

In [ ]:
# Import dependencies
import pymongo

In [ ]:
# Create a MongoClient instance
client = pymongo.MongoClient('mongodb://localhost:27017/')

# Check if the client was created successfully
print(client.list_database_names())

In [ ]:
# confirm that our new database was created
print(client.list_database_names())

In [ ]:
# assign the uk_food database to a variable name
ukdb = client['uk_food']

In [ ]:
# review the collections in our new database
print(ukdb.list_database_names())

In [ ]:
# review the collections in our new database

In [ ]:
# review a document in the establishments collection
ukcol = ukdb['establishments']
document = ukcol.find_one()

In [ ]:
# assign the collection to a variable

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [ ]:
# Create a dictionary for the new restaurant data
restaurant_dict = {"name":"Penang Flavours"}

In [ ]:
# Insert the new restaurant into the collection
x = ukcol.insert_one(restaurant_dict)

In [ ]:
# Check that the new restaurant was inserted
print(ukcol.find_one())

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [ ]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields
query = {"BusinessType": "Restaurant/Cafe/Canteen"}
projection = {"BusinessTypeID": 1, "BusinessType": 1, "_id": 0}

3. Update the new restaurant with the `BusinessTypeID` you found.

In [ ]:
# Update the new restaurant with the correct BusinessTypeID
filter = {"BusinessType": "Panang Flavours"}
update = {"$set": {"BusinessTypeID": 5}}

In [ ]:
# Confirm that the new restaurant was updated

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [ ]:
# Find how many documents have LocalAuthorityName as "Dover"
query = {"LocalAuthorityName": "Dover"}
count = ukcol.count_documents(query)

In [ ]:
# Delete all documents where LocalAuthorityName is "Dover"
new_col = ukcol.delete_many(query)

In [ ]:
# Check if any remaining documents include Dover
query = {"LocalAuthorityName": "Dover"}
count = ukcol.count_documents(query)

In [ ]:
# Check that other documents remain with 'find_one'
print(ukcol.find_one())

5. Some of the number values are stored as strings, when they should be stored as numbers. Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [ ]:
# Change the data type from String to Decimal for longitude
filter = {'latitude': {'$type': 'string'}, 
          'longitude': {'$type': 'string'}}

# Define the update operation to perform
update = [{'$set': {'latitude': {'$toDouble': '$latitude'}, 'longitude': {'$toDouble': '$longitude'}}}]

In [ ]:
# Check that the coordinates are now numbers
coors = my_collection.update_many(filter, update)

# Print the number of documents updated
print(coors)